body{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: plum;
}

header .Titulo{
    display: flex;
    height:400px;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: rgb(146, 191, 204);
    border-bottom-right-radius: 100px 50px;
}

.Titulo h1{
    font-size: 45px;
    color: rgb(225, 78, 238);
}

.Titulo h2{
    font-size: 15px;
    font-weight: 300;
    color: plum
}

.Datos {

    display: flex;
    margin: 0px auto;
    margin-top: 50px;
    height: 45px;
    width: 95%;
    background: rgb(59, 111, 224);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.Datos .data{
    color: rgb(135, 233, 200);
    font-weight: bold;
    font-size: 50px;

}

.Personal{
    width: 38%;
    display: block;
    margin: 37px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background:  rgb(146, 191, 204);
    padding-left: 75px;

}

.Personal .derecha{
    line-height: 280%;
    font-weight: bold;
}

.Personal .izquierda{
    line-height: 200%;
    float: right;
    color: black;
}

.Titulo img{
    width: 150px;
    height: 200px;
}

@media screen {
    /*conteniddo de ffichero home.css*/
}

@media print {
    /*contenido del fichero print.css*/
}
